a.nav-link.active {
    font-weight: 600;
}
/*
=============== 
Navbar
===============
*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-center {
    width: 90vw;
    max-width: var(--max-width);
  }
  .nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header img {
    width: 200px;
  }
  .nav-logo {
    display: flex;
    align-items: flex-end;
    width: 200px;
  }
  
  .nav-btn {
    padding: 0.15rem 0.75rem;
  }
  .nav-btn i {
    font-size: 1.25rem;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
  }
  .show-links {
    height: 23.9375rem;
  }
  
  .nav-link {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    text-transform: capitalize;
    color: #2596be;
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transition);
  }
  .nav-link:hover {
    color: #0560c9;
  }
  
  .contact-link a {
    padding: 0.15rem 1rem;
  }
  
  @media screen and (min-width: 992px) {
    .navbar {
      height: 6rem;
    }
    .nav-center {
      display: flex;
      align-items: center;
    }
    .nav-header {
      padding: 0;
      margin-right: 2rem;
      height: auto;
    }
  
    .nav-btn {
      display: none;
    }
    .nav-links {
      height: auto !important;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
    .nav-link {
      padding: 0;
      border-top: none;
      margin-right: 1rem;
      font-size: 1rem;
    }
    .contact-link {
      margin-right: 0;
      margin-left: auto;
    }
  }